<form>
  <p>
    <input type="text" name="number" placeholder="Number">
    <input type="date" name="date" placeholder="Date">
    <input type="number" name="origin" placeholder="Origin">
    <input type="number" name="destination" placeholder="Destination">
    <input type="number" name="plane_id" placeholder="Plane ID">
  </p>

  <p>
    <button class="save">Save</button>
    <button class="cancel">Cancel</button>
  </p>
</form>
