<form>
  <p>
    <input type="text" name="flight-number" placeholder="Flight Number">
    <input type="date" name="date" placeholder="Date">
    <input type="text" name="origin" placeholder="Origin">
    <input type="text" name="destination" placeholder="Destination">
    <select name="plane_id">
    {{#each plane}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
    </select>
  </p>

  <p>
    <button class="save">Save</button>
    <button class="preview">Preview</button>
    <button class="cancel">Cancel</button>
  </p>
</form>

<div class="seating-preview"></div>