<form>
  <p>
    <input type="text" name="number" placeholder="Number">
    <input type="text" name="date" placeholder="Date">
    <input type="number" name="origin" placeholder="origin">
    <input type="number" name="destination" placeholder="Destination">
  </p>

  <p>
    <button class="save">Save</button>
    <button class="preview">Preview</button>
    <button class="cancel">Cancel</button>
  </p>
</form>

<div class="seating-preview"></div>
