<form>
  <p>
    <input type="text" name="name" placeholder="Name">
    <input type="number" name="rows" placeholder="Rows">
    <input type="number" name="columns" placeholder="Columns">
  </p>

  <p>
    <button class="save">Save</button>
    <button class="preview">Preview</button>
    <button class="cancel">Cancel</button>
  </p>
</form>

<div class="seating-preview"></div>
