<form>
  <p>
    <input type="text"  name="name" placeholder="Name" value="{{name}}">
    <input type="number" name="rows" placeholder="Rows" value="{{rows }}">
    <input type="number"  name="columns" placeholder="Columns" value="{{columns}}">
    <input type="hidden" name="plane_id" value="{{id}}">
  </p>

  <p>
    <button class="save">Save</button>
    <button class="preview">Preview</button>
    <button class="cancel">Cancel</button>
  </p>
</form>

<div class="seating-preview"></div>
