<form>
  <p>
    <input type="text" name="name" placeholder="Name" class="plane-name">
    <input type="number" name="rows" placeholder="Rows" class="plane-row">
    <input type="number" name="columns" placeholder="Columns" class="plane-column">
  </p>

  <p>
    <button class="save">Save</button>
    <button class="preview">Preview</button>
    <button class="cancel">Cancel</button>
  </p>
</form>

<div class="seating-preview"></div>
