<nav>
  <ul>
    <li class="logo"><a href="/">Burning Airlines</a></li>
    <li>Jane Doe (<a data-backbone-navigation="false" href="/sign_out">sign out</a>)</li>
    <li><a href="/planes">Planes</a></li>
    <li><a href="/flights">Flights</a></li>
  </ul>
</nav>

<div class="app-form"></div>

<div class="app-content"></div>
